.header{
    background: $title-background;
    margin-bottom: $xl-size;
    padding: $m-size 0;
    color: $title-color-hc;
    &__title{
        font-size: $l-size;
        margin: 0;
    }
    &__subtitle{
        color: $subtitle-color-hc;
        font-size: $m-size;
        font-weight: 500;
        margin: 0;
    }
}